<style>
.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 10px !important;
  max-width: 100% !important;
  width: 100% !important;
}

.ui-datepicker {
   background: #333;
   border: 1px solid #555;
   color: #EEE;
 }


.ui-datepicker .ui-datepicker-header{

  font-size: 12px; 
  background: #333;
  border: #333;

}

</style>



<center>

<div class="row">
  <div class="col-md-12">
    <h3>Agregue o cree un nuevo diagnostico</h3>
  </div>
</div>
</center>

<div class="row">

  <div class="col-md-4">
  <form class="form-horizontal" role="form" ng-submit="crearDiagnostico()" >
  <label>Fecha:</label> <input type="text" id="datepicker" style="width: 70%" ng-model="fecha" class="form-control" placeholder="Ingrese una fecha..." required>
   </br>
  <label>Sintomas:</label>
  <tags-input class="bootstrap"
              on-tag-removed="eliminarSintoma($tag)"
              replace-spaces-with-dashes="false" 
              ng-model="tags" 
              onKeyDown="return notTab(event)" 
              style="width: 55%" 
              on-tag-added="agregarSintoma()" 
              ng-enter="agregarSintoma()" 
              add-on-blur="true"
              placeholder="Ingrese un sintoma..."> <!-- add-on-enter="{boolean}" y on-tag-added="{expression}" -->
    <auto-complete source="loadTags($query)"
    highlight-matched-text="true"
    min-length="1"></auto-complete>
  </tags-input>
  </br>

  <div class="form-group" style="margin-left: 0px;">
    
     <label>Nombre:</label> <input style="width: 70%"ng-model="nombre" class="form-control" placeholder="Ingrese un nombre de diagnostico..." required></br>
     
    
  </div>
  </br>
  <div class="form-group" style="margin-bottom: 0px; margin-left: 0px;">
    <div>
      <button class="btn btn-sm btn-success" type="submit">Confirmar diagnostico y dar un tratamiento</button>
      <a class="btn btn-sm btn-danger" ng-click="cancelar()">Cancelar</a>
    </div>
  </div> 
  </div>

 
  <div class="col-md-5">
   <!-- DIAGNOSTICOS SUGERIDOS-->
  <div>
  <table class="table table-bordered"  style="bgcolor:#00FFFF;">
    <thead>
     <tr class="active">
        <th>Diagnosticos sugeridos:</th>
      </tr>
      <tr class="active">
        <th>Nombre</th>
        <th>Sintomas</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="diagnostico in diagnosticos" class="success">
        <td>{{diagnostico.name}}</td>
         <td> 
          <select class="form-control">
          <option ng-repeat="sintoma in diagnostico.symptoms" value="">{{sintoma}}</option>
          </select>
         </td>
        <td><center><a class="btn btn-danger btn-xs" ng-click="asignarDiagnostico(diagnostico)">Agregar a Historia Clinica y dar tratamiento</a></center></td>
      </tr>
    </tbody>
  </table>
  </div>
   <!-- DIAGNOSTICOS SUGERIDOS-->
  </div>

  </form>
</div>

<script>
  $(function() {
    $( "#datepicker" ).datepicker({
            inline: true,
            showOtherMonths: true,
            dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
            monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
            dateFormat: 'dd/mm/yy',
        });
  });

  function notTab(event){
    var keynum = window.event ? window.event.keyCode : e.which;
        if (keynum == 9)
         return false; 

       return true
  }
</script>