<form ng-controller="AgregarHistoriaCtrl" class="form-horizontal" role="form">
  <div class="form-group">
    <label  class="col-lg-6 control-label" ng-model="paciente">Nombre y apellido: {{paciente.firstname}} {{paciente.lastname}}</label> 
	<br>
    <label style="margin:6px 0px 0px -530px" class="col-lg-6 control-label" ng-model="paciente">Peso: {{paciente.weight}}</label>
    
    <label style="margin:6px 0px 0px -400px" class="col-lg-6 control-label" ng-model="paciente">Altura: {{paciente.height}}</label>
</div>
  

  <!-- AGREGAR ALERGIA-->
  <div class="jumbotron" style="margin:5px 0px 0px 45px; width:50%; height:120px;">
     <label class="col-lg-4 control-label" style="margin:-50px 0px 0px -70px;">Alergias: </label>
    </div>
  </div>

  <div class="col-lg-5" style="margin:0px 0px 0px 120px";>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Nombre de alergia..">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Agregar</button>
      </span>
    </div>
   </div>     
  </div>
  <!-- AGREGAR ALERGIA-->


  <!-- AGREGAR Diagnostico-->
  <div class="jumbotron" style="margin:45px 0px 0px 45px; width:50%; height:120px;">
     <label class="col-lg-4 control-label" style="margin:-50px 0px 0px -70px;">Diagnosticos: </label>
    </div>
  </div>

  <div class="col-lg-5" style="margin:0px 0px 0px 305px";>
    <div class="input-group">
        <button class="btn btn-default" type="button">Agregar</button>
    </div>
   </div>     
  </div>
  <!-- AGREGAR Diagnostico-->

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-5">
      <button class="btn btn-sm btn-success" type="submit">Guardar</button>
      <button class="btn btn-sm btn-danger" type="submit">Cancelar</button>
    </div>
  </div>
</form>