<h2>Crear Paciente</h2>
<h4>Ingrese los siguientes campos</h4>
<form name="formPaciente" class="form-horizontal" role="form" >
  <div class="form-group">
    <label class="col-lg-2 control-label">Nombre</label>
    <div class="col-lg-5">
      <input ng-model="firstname" class="form-control"  placeholder="Ingrese un nombre..." required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Apellido</label>
    <div class="col-lg-5"> 
      <input ng-model="lastname" class="form-control" placeholder="Ingrese un apellido..." required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">DNI</label>
    <div class="col-lg-5">
      <input ng-model="dni" class="form-control" placeholder="Ingrese N° de DNI..." required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-5">
      <button ng-Click="crearPaciente()" class="btn btn-sm btn-success" >Crear</button>
      <button class="btn btn-sm btn-danger" type="submit">Cancelar</button>
    </div>
  </div>
</form>