<div ng-controller="HistoriasClinicasCtrl" class="container">
  <h2>Historias Clinicas</h2>
  
  <div class="row">
  
 
   <div class="col-lg-5" style="margin-top:-5px;">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Ingrese un paciente">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
    </div>
   </div>     
  </div>

  <table class="table table-bordered"  style="bgcolor:#00FFFF;">
    <thead>
      <tr class="active">
        <th>Nombre</th>
        <th>Apellido</th>
        <th style="width: 20%;">Historia Clinica</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="paciente in pacientes" class="success">
        <td>{{paciente.firstname}}</td>
        <td>{{paciente.lastname}}</td>
        <td><a class="btn btn-success btn-xs" ng-href="#/">Ver</a> 
        <a class="btn btn-success btn-xs" ng-href="#/agregarHistoria">Agregar</a></td>
      </tr>
    </tbody>
  </table>
</div>
