<style>
.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  max-width: 100% !important;
  width: 88% !important;
}
</style>

<h2>Historias Clinicas</h2>
</br>

<div ng-controller="HistoriasClinicasCtrl as myappApp">
  <table datatable="ng" dt-options="myappApp.dtOptions" dt-column-defs="myappApp.dtColumnDefs" class="row-border hover">
    <thead style="background: white;">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Peso</th>
        <th>Altura</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="paciente in myappApp.pacientes">
        <td>{{ paciente.firstname }}</td>
        <td>{{ paciente.lastname }}</td>
        <td>{{ paciente.dni }}</td>
        <td>{{ paciente.weight }} kg</td>
        <td>{{ paciente.height }} cm</td>
        <td>
          <button type="button" ng-click="myappApp.verPaciente(paciente)" class="btn btn-success btn-xs">
            <span class="glyphicon glyphicon-eye-open"></span> Ver
          </button>
          <button type="button" ng-click="myappApp.editarPaciente(paciente)" class="btn btn-warning btn-xs">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
