<h3>Agregue una alergia o diagnostico nuevo</h3>
<!-- AGREGAR ALERGIA -->
<div class="row">
    <div class="col-md-9" ng-controller="VerHistoriaCtrl as myappApp">
        <h3><span class="label label-info">Alergias</span></h3>
        <form class="form-inline" ng-submit="myappApp.agregarAlergia()">
            <table datatable="ng" dt-options="myappApp.dtOptions" dt-column-defs="myappApp.dtColumnDefs" class="row-border hover">
                <thead style="background: white;">
                    <tr>
                        <th>
                            <div class="form-group">
                                <label>
                                    <input class="form-control" ng-model="myappApp.alergia" value="" placeholder="Ingrese nueva alergia.." required>
                                    <button type="submit" class="btn btn-success">Agregar</button>
                                </label>
                            </div>
                        </th>
                        <th>
                        </th>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="alergia in myappApp.alergias">
                        <td>{{alergia}}</td>
                        <td>
                            <center><a class="btn btn-danger btn-xs" ng-click="myappApp.eliminarAlergia(alergia)">Eliminar</a>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<!-- AGREGAR ALERGIA -->

<!-- AGREGAR Diagnostico -->
<div class="row">
    <div class="col-md-9" ng-controller="VerHistoriaCtrl as myappApp">
        <hr style="border-top: 1px solid #333 !important">
        <h3><span class="label label-info">Diagnosticos</span></h3>
        <form class="form-inline" ng-submit="myappApp.agregarDiagnostico(paciente)">
            <table datatable="ng" dt-options="myappApp.dtOptions" dt-column-defs="myappApp.dtColumnDefs" class="row-border hover">
                <thead style="background: white;">
                    <tr>
                        <th>
                            <div class="form-group">
                                <label>
                                    <button type="submit" class="btn btn-success">Nuevo Diagnostico</button>
                                </label>
                            </div>
                        </th>
                        <th>
                        </th>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th style="width: 68px;">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="diagnostico in myappApp.diagnosticos">
                        <td>{{diagnostico.name}}</td>
                        <td>{{diagnostico.date}}</td>
                        <td>
                            <center><a class="btn btn-danger btn-xs" ng-click="myappApp.verDiagnostico(diagnostico)">Ver</a>
                            </center>
                        </td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<!-- AGREGAR Diagnostico -->