<style>
.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 10px !important;
  max-width: 100% !important;
  width: 100% !important;
}
</style>

<form ng-controller="VerHistoriaCtrl" class="form-horizontal" role="form" ng-submit="agregarAlergia()">
  <h3>Agregue una alergia o diagnostico nuevo</h3>
  </br>
  <div class="row">
  
    <!-- AGREGAR ALERGIA -->
    <div class="col-md-4">
      <table class="table table-bordered"  style="bgcolor:#00FFFF;  width:350px;">
        <thead>
         <tr class="active">
          <th>Alergias:</th>
          </tr>
          <tr class="active">
            <th>Nombre</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alergia in alergias" class="success">
            <td>{{alergia}}</td>
            <td><center><a class="btn btn-danger btn-xs" ng-click="eliminarAlergia(alergia)">Eliminar</a></center></td>
          </tr>
        </tbody>
      </table>

      <div class="input-group" style="width: 70%; margin:0px 0px 0px 65px; max-width: 285px !important; ">
        <input type="text" class="form-control" placeholder="Ingrese nueva alergia.." ng-model="alergia" required>
        <span class="input-group-btn" >
          <button class="btn btn-success" type="submit">Agregar</button>
        </span>
      </div>

    </div>
    <!-- AGREGAR ALERGIA -->

    <!-- AGREGAR Diagnostico -->
    <div class="col-md-4">
        <table class="table table-bordered"  style="bgcolor:#00FFFF;  width:350px;">
          <thead>
            <tr class="active">
              <th>Diagnosticos:</th>
            </tr>
            <tr class="active">
              <th>Nombre</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="diagnostico in diagnosticos" class="success">
              <td>{{diagnostico.name}}</td>
                <td><center><a class="btn btn-danger btn-xs" >Ver</a> <a class="btn btn-danger btn-xs" >Eliminar</a></center></td>
            </tr>
          </tbody>
        </table>

          <div class="input-group">
            <a class="btn btn-success" type="button" ng-click="agregarDiagnostico(paciente)" style="margin:0px 0px 0px 205px">Nuevo Diagnostico</a>
          </div>
    
      </div>
    <!-- AGREGAR Diagnostico -->

  </div>
   
</form>

